<!DOCTYPE html>
<html class="dark-theme">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/download.css" type="text/css" media="all" />
  <title>application</title>
  
</head>

<body>
  <header>
    <!-- the applicqtion name and description -->
    <div class="app-brief-info">
      <div class="icon">
        
      </div>
      <div class="details">
        <h1 class="name">app name</h1>
        <p class="developer">developer</p>
        <p class="cartegory">utility</p>
      </div>
    </div>
    <!-- the rqting and download siz3 -->
    <div class="app-brief-rating">
      <div class="rating">
        <img id="reviews" class="icons" src="./css/icons/grade.svg" alt="review" />
        <p>5.6m</p>
      </div>
      <div class="download-size">
        <img class="icons" src="./css/icons/download.svg" alt="download" />
        <p>50mb</p>
      </div>
      <div class="source">
        <img id="source" class="icons" src="./css/icons/flathub-dark.svg" alt="source" />
        <p>flathub</p>
      </div>
    </div>
    <button class="download-btn"> download</button>
  </header>
  <main>
    <section class="screenshots">
      <div class="img">
        
      </div>
    </section>
    <section class="app-full-info">
      
      <div class="description">
        <h2 class="heading">Description</h2>
        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione iste deserunt ipsam eaque,
          doloremque
          tenetur odit quis a beatae. Doloremque doloribus ratione cupiditate, et unde? Delectus at eos accusamus! Sunt.
          
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at, ipsam aliquam officia aut perferendis
          necessitatibus harum dignissimos labore esse tempore fugit minus nemo animi officiis, et veritatis dicta saepe
          maiores ut! A eaque, quibusdam nostrum accusamus! Reprehenderit qui asperiores sequi earum non, eaque, magnam
          perspiciatis molestias libero explicabo doloremque.
        </p>
        
      </div>
      <div class="overview">
        <h2 class="heading">overview</h2>
        <div class="list">
          <p class="key">developer</p>
          <p class="value">superninjaX2</p>
        </div>
      </div>
    </section>
  </main>
  
</body>

</html>