@import url("./variables.css");

*,
body,
:root {
  margin: 0;
}

body {
  
  background: var(--bg);
  color: var(--text-color);
}

.settings img {
  width: 1rem;
}

header {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100svw;
  background: var(--bg2);
}

header div {
  padding: .51rem;
}

header .name {
  font-size: .7rem;
}

header .search {
  display: flex;
  width: auto;
  height: auto;
  margin: auto;
}

header .search #search-bar {
  margin: auto;
  background: var(--bg);
  color: var(--text-color);
  border: none;
  border-radius: .3rem;
  padding: .5rem;
  outline: none;
}

header .search #search-bar:hover {
  outline: .1rem #fff solid;
}

header .settings {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 100svw;
  height: auto;
  overflow: hidden;
}

#slide {
  width: 100svw;
  
  background: var(--bg2);
  overflow: hidden;
}

#slide img {
  width: 100svw;
  height: auto;
}

.latest {
  width: 100svw;
  height: auto;
  padding: 1rem;
}

/* application-card-01 */
.application-card-01 {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}



.application-card-01 .icon {
  width: 6rem;
  height: 6rem;
  background: var(--bg);
  overflow: hidden;
}

.application-card-01 .icon::hover {
  background: var(--secondary);
}

.application-card-01 .icon img {
  width: 6rem;
  height: 6rem;
  aspect-ratio: 1/1;
}

.application-card-01 .name {
  font-size: 1rem;
  
}

.application-card-01 .description {
  font-size: .7rem;
}

.popular {
  display: flex;
  width: 100svw;
  flex-direction: column;
  padding: 1em;
}

.popular .x-container {
  overflow-x: auto;
}

/* application-card-02 */

.application-card-02 {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.application-card-02 .image {
  width: 60svw;
  height: 35svw;
  background: var(--primary-color);
  border-radius: 1rem;
  overflow: hidden;
}

.application-card-02 .image img {
  width: 60svw;
  height: 35svw;
  aspect-ratio: 75/40;
}

.application-card-02 .info {
  display: flex;
  margin-top: .5rem;
  
}

.application-card-02 .icon {
  width: 3rem;
  height: 3rem;
  background: var(--bg);
}

.application-card-02 .icon img {
  width: 3rem;
  height: 3rem;
  aspect-ratio: 1/1;
}

.application-card-02 .text {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: .5rem;
}

.application-card-02 .name {
  font-size: 1rem;
  
}

.application-card-02 .description {
  font-size: .7rem;
}